<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="{{ url_for('admin_dashboard')}}" class="simple-text">
                    Repostuds | Admin
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="{{ url_for('admin_dashboard')}}">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('user_profile')}}">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('add_student')}}">
                        <i class="fas fa-users"></i>
                        <p>Add Students</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('student_table')}}">
                        <i class="ti-view-list-alt"></i>
                        <p>Manage Students</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('add_lecturer')}}">
                        <i class="fas fa-user-plus"></i>
                        <p>Add Lecturer</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('lecturer_table')}}">
                        <i class="ti-view-list"></i>
                        <p>Manage Lecturers</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('add_course')}}">
                        <i class="ti-pencil-alt"></i>
                        <p>Assign Lecturer Course</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>