{% extends "admin/layout.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title text-center">Registered Lecturers</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>S/n</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Staff Number</th>
                                <th>Assignment Status</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                {% for lec in lecs %}
                                <tr>
                                    <td>{{ lec.id }}</td>
                                    <td>{{ lec.first_name + lec.last_name}}</td>
                                    <td>{{ lec.email}}</td>
                                    <td>{{ lec.staff_number}}</td>
                                    {% if not lec.is_assigned %}
                                        <td>Assigned</td>
                                    {% else %}
                                        <td>Not Assigned</td>
                                    {% endif %}
                                    <td>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a href="#"><i class="fas fa-edit fa-2x"></i></a>
                                            </div> 
                                            <div class="col-md-3">
                                                <a href="#"><i class="fas fa-trash fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}