{% extends "admin/layout.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title text-center">Registered Students</h3>
                        <hr>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Admission Number</th>
                                <th>Date of Birth</th>
                                <th>Gender</th>
                                <th>Program</th>
                                <th>Year of Study</th>
                            </thead>
                            <tbody>
                                    {% for stud in students %}
                                    
                                <tr>
                                    <td>{{ stud.first_name +" "+stud.last_name}}</td>
                                    <td>{{ stud.admission_number }}</td>
                                    <td>{{ stud.birth_date.strftime("%Y/%m/%d")}}</td>
                                    <td>{{ stud.gender}}</td>
                                    <td>{{ stud.program}}</td>
                                    <td>{{ stud.study_year}}</td>
                                </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                        <p>Total students are {{ nums }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}